{% extends '_base.html.twig' %}

{% block title %}{{ defaultText }} - {{ title }}{% endblock %}
{% block twitterTitle %}{{ defaultText }} - {{ title }}{% endblock %}
{% block twitterDescription %}{{ defaultText }}{% endblock %}
{% block twitterImage %}{{ url }}/{{ defaultText|url_encode }}.jpg{% endblock %}
{% block twitterUrl %}{{ url }}/{% endblock %}

{% block body %}
    <div id="wrapper" class="wrapper" data-app-url="{{ url }}">
        <div class="middle-container">
            <nav role="navigation" class="navigation">
                <ul>
                    <li>
                        <a href="/">Generator</a>
                    </li>
                    <li>
                        <a href="/gallery">Gallery</a>
                    </li>
                </ul>
            </nav>
            <div class="middle">
                <form method="post" action="/gallery/submit">
                    <div class="input-wrapper">
                        <input id="input" class="input" type="text" name="text" placeholder="{{ defaultText }}" autocomplete="off" autofocus>
                        <input type="submit" class="submit" value="Submit">
                    </div>
                    <div class="image-wrapper">
                        <img id="image" class="image" src="{{ url }}/{{ defaultText|url_encode }}.jpg" alt="{{ defaultText }}">
                    </div>
                    <div id="urlInputWrapper" class="url-input-wrapper">
                        <input id="urlInput" class="url-input" type="text" readonly="readonly" data-clipboard-target="#urlInput">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
